**/.idea
/app/log.log
/venv/*
**/__pycache__/
app/photos/**/*.png
app/photos/**/*.jpg
app/invoices/*.docx
app/\\\\fs-mo\\ADMINS\\Photo_warehouse\\archive_after_utilization/
app/\\\\fs-mo\\ADMINS\\Photo_warehouse\\photos/