[tooltip] {
    margin: 3px;
    /* position: relative; */
}

[tooltip]::after {
    opacity: 0;
    transition: opacity 0.3s;
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgb(255, 255, 255);
    text-align: center;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    padding: 4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
}
[tooltip]:hover::after {
    opacity:1
 }

.real_photo_all {
    /* border-radius: 5px; */
    max-width: 100px;
    border: 1px solid #d1d1d1;
    border-radius: 1em;
    max-height: 100px;
 }

tr:hover {
    background: #dee3e3;
}

tr.selected {
    background: #ccdfdf;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top_pan_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 1em;
}

.c_title {
    margin-right: 1em;
    font-size: x-large;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 0 1em;
    font-weight: bold;
    font-family: unset;
}

.card_of_material_main_1c {
    /* background: #e5e5e580; */
    /* padding: 1em; */
    margin: 1em;
    border-radius: 1em;
    /* width: 50%; */
    height: max-content;
}

.table-wrapper {
    opacity: 1;
    position: sticky;
    top: 0px;
    background: white;
}

.button-wrapper {
    z-index: 1;
    background: #fff;
    display: inline-block;
    top: 0px;
    background: #fff;
    display: inline-block;
    flex-wrap: wrap;
    padding: 1em;
}

.movement_1 {
    display: flex;
    /* flex-direction: row; */
    /* align-content: space-around; */
    /* flex-wrap: nowrap; */
}

.movement {
    background: #bbbced87;
    display: inline-block;
    margin: 1em 1em 1em 0;
    padding: 1em;
    border-radius: 1em;
    /* width: 29%; */
}

.select-wrapper {
    position: relative;
}

.filter {
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.308);
    padding: 5px 10px;
    margin-left: 10px;
}

thead {
    position: sticky;
    top: 2px;
    z-index: 1;
    /* width: 100%; */
}

table {
    font-family: Arial, sans-serif;
    text-align: left !important;
    width: 100%;
    height: max-content;
    /* width: 80%; */
    border-collapse: collapse;
    /* margin: 0 0 0 1em; */
}

th {
    padding: 0 0 0 5px;
}

th:nth-child(8) {
    width: 9%;
}

td {
    padding: 8px 12px;
}

th:nth-child(even) {
    color: black;
    background: #92d7c7;
}

.fl-table thead th:nth-child(odd) {
    color: #000000;
    background: #92d7c7;
}

button:hover:enabled {
    background: #9fb5f7;
    cursor: pointer;
}

button:disabled {
    background: #e1e8eb;
}

button {
    -webkit-appearance: none;
    transition: 0.2s;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    background: #a7d2e7;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 6px;
}


.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #0000006e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.popup {
    background: white;
    /* border-radius: 15px; */
    width: 40vw;
    position: relative;
    padding: 2em 1em;
}

.close-btn {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 20px;
    position: absolute;
    cursor: pointer;
}

.close-btn>img {
    width: 50%;
    height: 100%;
    text-align: right;
    margin: 0 1em;
}

h1 {
    display: block;
    margin: 2ex 0;
}

.popup input[type="text"] {
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: #00000042 1px 1px 10px;
    font-size: 1em;
    border: none;
    padding: 6px 30px;
}

.popup button {
    font-size: 20px;
    margin: 15px 0;
}

textarea {
    border-radius: 10px;
    box-shadow: #00000042 1px 1px 10px;
    /* font-size: 1em; */
    /* -webkit-appearance: none; */
    width: 100%;
    border: none;
    /* margin-bottom: 15px; */
    /* resize: both; */
}

#history-block {
    overflow: scroll;
    height: 64vh;
}



.title_1 {
    font-size: 1.5em;
    margin: 0.1em 0 0 1em;
    font-weight: bold;
    font-family: math;
    float: left;
}

.input-file {
    position: relative;
    display: inline-block;
}

.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: inline-block;
    width: 0;
    height: 0;
}

form {
    display: inline-block;
}

/* Focus */
.input-file input[type=file]:focus+span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #59be6e;
}

.input-file:active span {
    background-color: #2E703A;
}

.input-file input[type=file]:disabled+span {
    background-color: #eee;
}

.upload-btns {
    display: flex;
    align-items: center;
}

.select {
    z-index: 10;
    position: absolute;
    width: 100%;
    display: none;
    background-color: #fff;
    left: 0;
    border: 1px solid #bbbbbb;
}

.new-wrapper {
    width: 65%;
    padding: 0;
    margin: 0;
    position: relative;
}

.tr_main {
    width: 65%;
    padding: 0;
    margin: 0;
}

.select-result {
    border: none;
    cursor: pointer;
    border-width: 0;
    appearance: none;
}

.option {
    padding: 6px 30px;
    cursor: pointer;
}

.option:hover {
    background-color: #9fb5f7;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: white;
    border: 1px solid #bebebe;
    border-radius: 15%;
}

input[type='checkbox']:checked {
    background-image: url(checked.svg);
    background-size: cover;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
}

tbody input[type='checkbox'] {
    pointer-events: none;
}

.pagination {
    margin: 20px;
}

.filter_count {
    margin: 1em 20px;
    font-size: x-large;
}

.button_admins_page {
    padding: 5px;
    text-align: center;
    background-color: #a7d2e7;
    cursor: pointer;
}

.users_table_for_admins {
    font-size: inherit;
    margin: 3em 0;
    background: whitesmoke;
    padding: 1em;
    border-radius: 1em;
}

.other_buttons {
    font-size: inherit;
    background-color: #92d7c7;
}

.disabled-btn {
    font-size: inherit;
    background-color: #a4d5bd;
    pointer-events: none;
}

.hello_2 {
    margin: 1em 20px;
    font-size: revert;
}

#history-block p {
    background-color: #8080803d;
    padding: 1em;
}

.button_exit {
    text-align: right;
    margin: 1em;
}

.clear {
    clear: both;
}

.for_logs_1 {
    margin: 0 0 0 1.2em;
}

.count_for_trash {
    margin: 1em 0 1em 0.5em;
    font-size: x-large;
}

.instruction_1 {
    margin: 1em 0 1em 0.5em;
    font-size: x-large;
}

.welcome {
    margin: 0 1em;
    font-size: inherit;
    background: whitesmoke;
    border-radius: 1em;
    text-align: left;
}

.counts {
    margin: 0 1em;
    font-size: inherit;
    background: whitesmoke;
    border-radius: 1em;
    float: left;
    display: flex;
}

.p_for_count {
    margin: 1em;
    font-size: inherit;
    background: whitesmoke;
}

.file-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.card_of_material {
    border: 1px solid #c3c3c3;
    background: #eefffd;
    border-radius: 1em;
    padding: 1em;
    font-size: inherit;
    float: left;
    width: 100%;
    margin: 0 0 1em;
}

.geo_material_one {
    margin: 0 1em 1em 0;
}

.button_go_to_app_in_one_card {
    padding: 0.7em;
    font-size: inherit;
}

.title_one_card {
    font-size: x-large;
    font-weight: bold;
    margin: 0 1em 0 0;
    background: #e9e9e9;
    padding: 0.5em;
    border-radius: 1em;
    flex-grow: 1;
    text-align: center;
}

.action-buttons {
    display: inline-flex;
    position: absolute;
    z-index: 20;
    background: #fff;
    flex-direction: column;
    border: 1px solid #a7a7a7;
    border-radius: 1em;
    background: #f8fffe;
}

.geo_material_one_dial {
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: #c2d9dd6e;
    margin: 1em 0 0 0;
}

.repair_stile {
    background: #eefffd;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid #c3c3c3;
}

.status_000 {
    background: #92d7c7;
}

.filters {
    font-size: x-large;
    display: inline-block;
}

.action-column {
    margin: 1em;
    float: left;
}

.admin_but {
    margin: 1em;
    background: #92d7c7;
}

.card_of_material_main {
    border-radius: 1em;
    margin: 1em;
    width: 50%;
    background: #e5e1d894;
    flex-wrap: nowrap;
    flex-direction: row;
}

.card_of_material_main_1 {
    border-radius: 1em;
    display: flex;
}


.link_to {
    display: block;
    margin: 1em 0 0 0;
}


.subs {
    margin: 1em;
}

.inactive {
    opacity: 0.40;
    background: #ffe9e9;
}

.inactive textarea {
    pointer-events: none;
}

.description_problem {
    width: 100%;
}

.date_one_card {
    font-size: unset;
    font-weight: bold;
}

.desc_one_card {
    font-size: unset;
    margin: 1em 0 0em 0;
    display: block;
}

.top-panel {
    background: #fff;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.main_title {
    float: left;
    margin: 0 0 0 1em;
}

.main_title2 {
    float: left;
    margin: 0 0 0 30em;
}

.body_body {
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2.4);
    height: 200vh;
}

.body_inst {
    margin: 0 0 0 1em;
}

.input_label {
    margin: 1em 0;
    display: flex;
    align-items: center;
}



/* Скрытие стандартной стрелки у элемента summary */
summary::-webkit-details-marker {
    display: none;
}

/* Стилизация заголовка */
summary {
    cursor: pointer;
    font-weight: bold;
}

/* Скрытие содержимого при инициализации */
details:not([open])>*:not(summary) {
    display: none;
}

.card_of_material_main_2 {
    margin: 1em 0;
    display: flex;
    justify-content: flex-end;
}

.menu_accessories {
    margin: 1em;
    background: #f3f3f3;
    padding: 1em;
    border-radius: 1em;
}

.menu_accessories_1 {
    margin: 0 0 1em;
}

.input_100 {}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: attr(title);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.02s, visibility 0.02s;
}

.red_button {
    background: #c7adad80;
}

.yell_button {
    background: #f5edb3;
}

.trash_p_1 {
    margin: 1em 0 1em 1.5em;
    font-size: 1.5em;
}

.trash_p_2 {
    background: #ffffff;
    margin: 1em 0 0 2em;
}

.trash_p_3 {
    margin: 1em 0 0;
    background: #f5f5f563;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.photo_one_card {
    margin: 1em;
    float: left;
}

.real_photo {
    border-radius: 1em;
    border: 1px solid;
    max-width: 210px;
}

.action-buttons_1_card {
    border-radius: 1em;
}


.image-container {
    width: 800px;
    height: 500px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.image-container img:hover {
    cursor: pointer;
}

.image-container img:hover::after {
    content: "Это изображение можно скачать и посмотреть в полном размере";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
}


.menu_arc {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #4c88af0f;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.remont {
    background-color: #ffee8a2b;
}

.rep_status {
    font-weight: bold;
    margin: 0 0 10px;
    color: #155287;
    font-family: system-ui;
}

.menu_arc:hover {
    background-color: #cfd8ff;
}

.body_left {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #f7f7f7;
    border-right: 2px solid #bdbdbd;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 1em 0 0 0;
    align-content: flex-start;
}

.body_separate {
    display: flex;
    border-top: 2px solid lightgrey;
    flex-direction: row;
}

.body_right {
    display: flex;
    width: 50%;
    background: #f7f7f7;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}

.input-wrapper input[type="image"] {
    display: inline-block;
    position: relative;
    left: 15px;
    top: 7px;
    width: 25px;
}

.button_to_file {
    background: #70c38d73;
    border-radius: 11px;
}

.menu_1 {
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex: unset;
}

.menu_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.podpis {
    margin: 1em;
}

.word_button {
    background: #62a9e769;
    padding: 1em;
}

.fixed_thead {
    position: sticky;
    top: 66px;
}

.fixed_buttons {
    position: sticky;
    top: 0px;
    width: 100%;
    background: #f9f9f9;
}

.scrollable_table {
    width: 100%;
    height: 80vh;
    font-family: system-ui;
}

.top-part {
    height: 12vh;
}

tr {
    background: whitesmoke;
    border-bottom: 1px solid #a9a9a9;
}

.hidden_2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-in;
  }

.movement_2 {
    color: #000000;
    font-size: large;
    font-weight: bolder;
}

.hidden {
    display: none;
}

.search_1c_class {
    display: flex;
    background: #ffdd8c;
    align-items: center;
    padding: 0 1em;
    border-radius: 1em;
}

.search_1c_class_1 {
    font-size: large;
    border-radius: 1em;
    margin: 0 1em;
}

.search_1c_class_2 {
    font-size: large;
    border-radius: 1em;
}

.wow {
    font-size: large;
    background: #ffdd8c;
    border-radius: 1em;
    text-align: center;
    padding: 0.5em;
}

.det_1 {
    background: #00ff451a;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid #afafab;
}

.link_to {
    font-family: system-ui;
    font-weight: bolder;
    margin: 0 0 0.4em;
}

.param_photo {}

.but_comm {/* padding: 1em; */margin: 1em 0;}

.comment-block {
    padding: 1em;
    background: #eefffd;
    border: 1px solid rosybrown;
    border-radius: 1em;
    margin: 0 1em 0 0;
}

.one_comment {
    margin: 1em 0 0 0;
}

.comments_title {
    font-size: unset;
    font-weight: bold;
}

.comments_body {
    margin: 1em 0 0 0;
}

.b_per_1 {

    font-size: large;

    background: #9acd3200;

    text-transform: uppercase;
}

.from_1c {

    background: #edededb8;

    padding: 1em;

    border-radius: 1em;

    border: 1px solid #cdcdcd;
}

.button_10 {
    margin: 0 1em;
}

.data_1c {
    font-weight: bold;
}

.second_side_2 {
    margin: 0 1em 0;
}

.doble_side {
display: flex;
}

.number_from_IT {
    font-size: x-large;
    font-weight: bold;
}

.comments_h4 {
    font-size: small;
}

.but_12 {
    background-color: #FFDD8C; /* Начальный цвет кнопки */
    color: #000000; /* Цвет текста на кнопке */
    border: none;
    padding: 10px 20px; /* Размер кнопки */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
  }

  .but_12:hover {
    background-color: #e7923c; /* Цвет кнопки при наведении на неё */
  }

.half_w {
    max-width: 40%;
}

.ml-4 {

    margin: 1em 0 0 0;
}

.sign_adm {
    margin: 1em 0;
    background: #40a4e04a;
    padding: 1em;
    border-radius: 1em;
    font-family: system-ui;
    font-weight: bold;
}


.tabs {
    display: flex;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.right_content_one_page {
    width: 100%;
}

.sign_from_admin {
    display: flex;
    margin: 1em 0;
}

.tab-link.active {
    background-color: #dfdfdf00; /* Замените это на цвет вашей активной вкладки */
    font-weight: bold;
    /* color: #fff; */ /* Замените это на цвет текста вашей активной вкладки */
}

.tab-content.active {
    display: block;
}

.sep_2_for_1c {/* padding: 10px 15px; */display: flex;align-items: center;gap: 1em;align-content: space-around;/* background: #f2f2f2; */justify-content: flex-start;}

.status_one_card {
 font-weight: bold;
 font-size: x-large;
}

.tab-link {
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    flex: 1;
    background: #fff;
    text-align: center;
    border-right: 1px solid;
}

.or_button {/* padding: 20px; */background: #ffd6008c;}

.button_one_card_left {/* max-width: 70%; */width: 100%;}

.tab-content {
    display: none;
    max-width: 70%;
    padding: 20px;
}

.email_for_admin_page {padding: 1em 0 0;margin: 0 1em 0 1em;font-size: large;}

.currently_email {
padding: 20px;
}

.email_counts_11 {/* padding: 20px; */display: flex;}

.email_122 {/* padding: 20px; */margin: 1em;}

.email_for_admin_page1 {margin: 1em 0 0 0;/* padding: 20px; */width: 68%;background: #f5deb380;border-left: 1px solid;}

.email_1223 {
margin: 1em;
}


.active {
    display: block;
    background: #c8f3d81a;
}