<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <link rel="stylesheet" href="/static/loader.css">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
    <!-- https://codepen.io/nobuakihonma/pen/dYbqLQ -->
</head>

<div class="body_body">
    <div class="top-part">
        <div class="title_1">IT warehouse tracker (Accessories)</div>
            <div class="button_exit">
                <a href="/app?t={{ data.token }}" class="menu_arc">Главная</a>
                <a href="/app/only_1c?t={{ data.token }}" class="menu_arc">Поиск по 1с</a>
                {% if data.role == True %}
                    <a href="/app/admins_page?t={{ data.token }}" class="menu_arc">Админка</a>
                {% endif %}
                <a href="/accessories?t={{ data.token }}" class="menu_arc">Комплектующие</a>
                <a href="/app/repairs_page?t={{ data.token }}" class="menu_arc">Ремонт</a>
                <a href="/app/trash_page?t={{ data.token }}" class="menu_arc">Списание</a>
                <a href="/geolocation/archive_trash_page?t={{ data.token }}" class="menu_arc">Архив</a>
                <a href="/app/instructions?t={{ data.token }}" class="menu_arc">FAQ</a>
                <a href="/app/auth" class="menu_arc other_buttons">Выйти</a>
            </div>
            <div class="clear"></div>
            <div class="counts">
                <p class="p_for_count"><b>Всего комплектующих: {{ data.count_accessories }}</b></p>
            </div>    

        <div class="clear"></div>
    </div>

    <div class="body_separate scrollable_table">
            <div class="body_left top-panel">
                 <!-- <div class="welcome">
                    <p class="hello">{{ data.username }} шеф &#128293;</p>
                    {% if data.role == True %}
                    <p class="hello_2"><b>административный</b> доступ</p>
                    {% endif %}
                    {% if data.role == False %}
                    <p class="hello_2"><b>пользовательский</b> доступ</p>
                    {% endif %}
                </div> -->
            <div class="menu_left">
                <div class="menu_1">
                    <button id="create">Добавить новые</button>
            <button id="issue">Отдать</button>
            <button id="add">Добавить к имеющимся</button>
                     </div>

                </div>

                <div class="ml-4">
                    <details >
                            <summary>последние 5 выдач</summary>
                                <div class="menu_accessories">
                                    {% for item in data.top_info %}
                                            <div class="menu_accessories_1">
                                                <tr>
                                                    <td>{{ item.date_time }} -- </td>
                                                    <td>{{ item.values_of_change }}</td>
                                                </tr>
                                                </div>
                                            {% endfor %}
                                    </div>
                             </details>
                </div>


            </div>
        <div class="button-wrapper">
        </div>
        <div class="clear"></div>
        <div class="body_right">
        <div class="table-wrapper">
            <table class="fl-table" id="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Категория</th>
                        <th>Наименование</th>
                        <th>Количество (шт)</th>
                        <th>Расположение</th>
                        <th>Дата последнего изменения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data[0] %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.count }}</td>
                        <td><input type="text" class="edit-location" value="{{ item.place }}" data-id="{{ item.id }}"></td>
                        <td>{{ item.date_time }}</td>
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
            </div>
        <div style="display: none;" id="create-popup" class="popup-wrapper">
            <div class="popup">
                <div class="close-btn">
                    <img src="static/close.svg" alt="close">
                </div>
                <h1>Добавить комлпектующие</h1>
                <input type="text" placeholder="Категория">
                <input type="text" placeholder="Наименование">
                <input type="text" placeholder="Количество">
                <input type="text" placeholder="Местоположение">
                <button style="bottom: 10px; right: 10px;" id="submit-create">Добавить</button>
            </div>
        </div>
        <div style="display: none;" id="issue-popup" class="popup-wrapper">
            <div class="popup">
                <div class="close-btn">
                    <img src="static/close.svg" alt="close">
                </div>
                <h1>Выдать комлпектующие</h1>
                <input type="text" placeholder="Количество">
                <input type="text" placeholder="Кому отданы">
                <button style="bottom: 10px; right: 10px;" id="submit-issue">Выдать</button>
            </div>
        </div>
        <div style="display: none;" id="add-popup" class="popup-wrapper">
            <div class="popup">
                <div class="close-btn">
                    <img src="static/close.svg" alt="close">
                </div>
                <h1>Добавить комлпектующие</h1>
                <input type="text" placeholder="Количество">
                <button style="bottom: 10px; right: 10px;" id="submit-add">Добавить</button>
            </div>
        </div>
    </div>
    <script>
        const params = new URLSearchParams(window.location.search)
        const access_token = params.get("t");
        var host = document.location.origin;
        $("#issue, #add").prop("disabled", true);
        function invert_selection(elem) {
            if ($(elem).hasClass("selected")) {
                $(elem).removeClass("selected");

            }
            else {
                $("tbody > tr").removeClass("selected");
                $(elem).addClass("selected");

            }
            if ($('tbody > tr.selected').length)
                $("#issue, #add").prop("disabled", false);
            else
                $("#issue, #add").prop("disabled", true);
        }

        $("tbody > tr").on("click", function () {
            if ($(this).children("td").eq(8).text() != "списание")
                invert_selection(this);
        });
        $(".close-btn").on("click", function () {
            $(this).closest(".popup-wrapper").fadeOut(200);
        });

        // возможность редактирования местоположения
        $('.edit-location').on('blur keydown', function(e) {
            // Проверяем нажатие клавиши Enter или потерю фокуса
            if (e.type === 'blur' || e.keyCode === 13) {
                e.preventDefault();
                // Получаем новое значение и ID комплектующего
                let newLocation = $(this).val();
                let id = $(this).data('id');

                // Отправляем данные на сервер
                updateLocation(id, newLocation);
            }
        });

        async function updateLocation(id, newLocation) {
            try {
                const response = await fetch('/accessories/change_location_acc', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    },
                    body: JSON.stringify({ id: id, new_location: newLocation })
                });
                const resp = await response.json();
                if (resp.status) {
                    let row = $(`input[data-id='${id}']`).closest('tr');
                    row.css('background-color', 'lightgreen');
                    // Возвращаем исходный цвет через 1 секунду
                    setTimeout(() => {
                        row.css('background-color', ''); // Уберите '', если есть исходный цвет
                    }, 500);
                } else {
                    alert("Ошибка при обновлении расположения");
                }
            } catch (error) {
                console.error("Ошибка при отправке запроса: ", error);
            }
        }


        //Открытие попапов
        $("#create").on("click", function () {
            $("#create-popup").fadeIn(300);
        });
        $("#issue").on("click", function () {
            $("#issue-popup").fadeIn(300);
        });
        $("#add").on("click", function () {
            $("#add-popup").fadeIn(300);
        });

        //Отправка форм
        $("#submit-add").on("click", async function () {
            let title = $('tbody > tr.selected').eq(0).children("td").eq(1).text();
            let qelem = $(this).parent().children("input").eq(0);
            let quantity = parseInt(qelem.val());
            if (quantity)
                qelem.val(quantity);
            else
                qelem.val("");
            if (title && quantity) {
                await add(title, quantity);
            } else {
                alert("Не все поля заполнены!")
            }
        });
        $("#submit-issue").on("click", async function () {
            let title = $('tbody > tr.selected').eq(0).children("td").eq(1).text();
            let qelem = $(this).parent().children("input").eq(0);
            let quantity = parseInt(qelem.val());
            let resp_user = $(this).parent().children("input").eq(1).val();
            if (quantity)
                qelem.val(quantity);
            else
                qelem.val("");
            if (title && quantity && resp_user) {
                await issue(title, quantity, resp_user);
            } else {
                alert("Не все поля заполнены!")
            }
        });
        $("#submit-create").on("click", async function () {
            let children = $(this).parent().children("input");
            let quantity = parseInt(children.eq(2).val());
            if (quantity)
                children.eq(2).val(quantity);
            else
                children.eq(2).val("");
            let category = children.eq(0).val();
            let title = children.eq(1).val();
            let place = children.eq(3).val();
            if (category && title && place && quantity) {
                let data = {
                    "category": category,
                    "title": title,
                    "count": quantity,
                    "place": place
                }
                await create(data);
            } else {
                alert("Не все поля заполнены!")
            }
        });


        async function create(data) {
            try {
                const response = await fetch(host + "/accessories/create", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    },
                    body: JSON.stringify(data)
                });
                const resp = await response.json();
                if (resp["status"] != true) {
                    alert("Произошла ошибка! Для получения дополнительной информации зайдите в терминал программы");
                };
                window.location.reload();
            } catch (error) {
                console.error(error);
            }
        }
        async function issue(title, quantity, resp_user) {
            try {
                const response = await fetch(host + "/accessories/change_count?title=" + title + "&count=" + quantity + "&resp_user=" + resp_user, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    }
                });
                const resp = await response.json();
                if (resp["status"] != true) {
                    alert("Произошла ошибка! Для получения дополнительной информации зайдите в терминал программы");
                };
                window.location.reload();
            } catch (error) {
                console.error(error);
            }
        }
        async function add(title, quantity) {
            try {
                const response = await fetch(host + "/accessories/add_accessories?title=" + title + "&count=" + quantity, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    }
                });
                const resp = await response.json();
                if (resp["status"] != true) {
                    alert("Произошла ошибка! Для получения дополнительной информации зайдите в терминал программы");
                };
                window.location.reload();
            } catch (error) {
                console.error(error);
            }
        }
        async function ping() {
            try {
                const response = await fetch(host + "/app/ping", {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    }
                });
                const text = await response.text();
                if (text != "ok") {
                    window.location.reload();
                }
            } catch (error) {
                console.error(error);
            }
        }
        setInterval(ping, 5000);
    </script>
</body>

</html>