<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="/static/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
</head>

<body>
<div class="body_body">
    <div class="title_1">IT WH tracker (Utilization archive)</div>

        <div class="button_exit">
            <a href="/app?t={{ data.token }}" class="menu_arc">Главная</a>
            {% if data.role == True %}
                <a href="/app/admins_page?t={{ data.token }}" class="menu_arc">Админка</a>
            {% endif %}
            <a href="/accessories?t={{ data.token }}" class="menu_arc">Комплектующие</a>
            <a href="/app/repairs_page?t={{ data.token }}" class="menu_arc">Ремонт</a>
            <a href="/app/trash_page?t={{ data.token }}" class="menu_arc">Списание</a>
            <a href="/geolocation/archive_trash_page?t={{ data.token }}" class="menu_arc">Архив</a>
            <a href="/app/instructions?t={{ data.token }}" class="menu_arc">FAQ</a>
            <a href="/app/auth" class="menu_arc other_buttons">Выйти</a>
        </div>
        <div class="clear"></div>

    <div class="trash_p_1">список уже утилизированных активов</div>

    <div class="table-wrapper">
        <div class="button-wrapper">

            <button id="go_to_trash" onclick='window.location.href = "/app/trash_page?t="+"{{ data.token }}"'>к списку на списание</button>
        </div>
        <div class="clear"></div>

        <div class="trash_p_2">
            {% for item in data.repairs %}
                <details class="trash_p_3">
                    <summary>Списание от {{ item[0].date_time }} ---- документация:
                        \\fs-mo\ADMINS\Photo_warehouse\archive_after_utilization\{{ item[0].folder_name }}</summary>
                            <table class="fl-table" id="table">
                                <thead>
                                    <tr>
                                        <th>ID актива</th>
                                        <th>Кто списывал</th>
                                        <th>Категория</th>
                                        <th>Номер (тайтл)</th>
                                        <th>Описание (характеристики)</th>
                                        <th style="width: 30%;">Прошедшие перемещения</th>
                                        <th style="width: 30%;">Прошедшие ремонты</th>
                                        <th>Дата списания</th>
                                        <th style="width: 10%;">Ссылка на документацию актива</th>
                                    </tr>
                                </thead>
                                {% for item in item %}
                                    <tbody>
                                        <tr>
                                            <td>{{ item.material_id }}</td>
                                            <td>{{ item.user_id }}</td>
                                            <td>{{ item.category }}</td>
                                            <td>{{ item.title }}</td>
                                            <td> <textarea cols="20" rows="3">{{ item.description }}</textarea></td>
                                            <td>
                                                <details>
                                                    <summary>показать</summary>
                                                    <p>{{ item.moving }}</p>
                                                </details>
                                            </td>
                                            <td>
                                                 <details>
                                                    <summary>показать</summary>
                                                    <p>{{ item.repairs }}</p>
                                                </details>
                                            </td>
                                            <td>{{ item.date_time }}</td>
                                            <td>\\fs-mo\ADMINS\Photo_warehouse\archive_after_utilization\
                                                {{ item.folder_name }}\material_old_photos\{{ item.material_id }}</td>
                                        </tr>
                                    <tbody>
                                {% endfor %}
                            </table>
                    </details>
            {% endfor %}
        </div>

    <script>
        $("#form_file").on("click", function () {
            let data = { "data": [] };
            let counter = 1;
            $('tbody > tr').each(function(index){
                let id = $(this).children("td").eq(1).text();
                let category = $(this).children("td").eq(3).text();
                let title = $(this).children("td").eq(4).text();
                let description = $(this).children("td").eq(5).children("textarea").val();
                let date = $(this).children("td").eq(6).text();
                data["data"].push([counter, id, category, title, description, date]);
                counter++;
            });
            download(data);

        });
        async function download(data) {
            try {
                const response = await fetch(host + "/materials/invoice", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    },
                    body: JSON.stringify(data),
                });
                const blob = await response.blob();
                saveAs(blob, "Накладная.docx");
                // window.location.reload();
            } catch (error) {
                console.error(error);
            }
        }
    </script>
    </div>
</body>

</html>