<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
</head>

<body>
<div class="body_body">
    <div class="body_inst">
    <div class="title_1">IT WH tracker (Intructions)</div>

    <div class="button_exit">
        <a href="/app?t={{ data.token }}" class="menu_arc">Главная</a>
        <a href="/app/only_1c?t={{ data.token }}" class="menu_arc">Поиск по 1с</a>
        {% if data.role == True %}
            <a href="/app/admins_page?t={{ data.token }}" class="menu_arc">Админка</a>
        {% endif %}
        <a href="/accessories?t={{ data.token }}" class="menu_arc">Комплектующие</a>
        <a href="/app/repairs_page?t={{ data.token }}" class="menu_arc">Ремонт</a>
        <a href="/app/trash_page?t={{ data.token }}" class="menu_arc">Списание</a>
        <a href="/geolocation/archive_trash_page?t={{ data.token }}" class="menu_arc">Архив</a>
        <a href="/app/instructions?t={{ data.token }}" class="menu_arc">FAQ</a>
        <a href="/app/auth" class="menu_arc other_buttons">Выйти</a>
    </div>


    <div class="clear"></div>
    <h2>Программа разработана для учета активов IT отдела и проверки техники по 1с</h2>
    <p>Это надстройка над 1с для удобного отслеживания активов</p>

    <h3>Где работает</h3>
    <ul>
        <h3>WEB terminal (<code>http://{адрес_сервера}/app:50131</code>)</h3>
        <h3>Телеграм бот (<code>https://t.me/nalog_23_bot (пока такой адрес))</code></h3>
      </ul>


    <h3>Она позволяет:</h3>
    <ul>
      <li>Вести учет активов на складах</li>
      <li>Следить за перемещениями активов</li>
      <li>Следить за ремонтами активов</li>
      <li>Запрашивать из 1с информацию о перемещениях и характеристиках активов, а так же получать информацию о
        числящихся на сотрудниках единицах техники</li>
    </ul>
    <p>Пользоваться приложением можно через WEB терминал или телеграмм бота</p>

    

        <h3>Авторизация и доступы</h3>

    <h4>Управление активами:</h4>
        <p>Управление активами в веб терминале реализовано на основе разделения пользователей на админов и юзеров.</p>
        <p>При каждой авторизации пользователя ему выдается закодированный JWT токен на 10 часов работы.</p>
        <p>После истечения срока действия токена, пользователя перенаправит на страницу авторизации</p>
    <ul>
        <li>Пользователи могут:
            <ul>
                <li>Создавать активы</li>
                <li>Изменять описание активов</li>
                <li>Перемещать активы</li>
                <li>Ремонтировать активы</li>
                <li>Списывать активы</li>
                <li>Работать с запросами в 1с</li>
            </ul>
        </li>
        <li>Админы могут (пользовательские права +):
            <ul>
                <li>Создавать и удалять пользователей</li>
                <li>Создавать и удалять активы</li>
                <li>Просматривать логи</li>
                <li>Просматривать методы работы с API</li>  
            </ul>
        </li>
        
    </ul>
        <img  width="800" height="500" src="../static/instructions_files/auth.gif" alt="Описание картинки">


        <h3>Работа с активами</h3>
        <h3>Создание (новой карточки для техники)</h3>
        <img  width="800" height="500" src="../static/instructions_files/create material.gif" alt="Описание картинки">
        <h6>*данную картинку можно сохранить себе и посмотреть в полноразмерном формате</h6>
        <p>Добавление активов в базу IT-WH произсводится только если актив уже есть на балансе в компании. </p>
        <p>Сначала актив надо найти в 1с. И потом будет кнопка - добавить в базу. </p>
        <p>При внесении актива в базу - вы можете сравнить описание из 1с с реальными характеристиками и что то добавить если есть неточности.</p>
        <p>При создании активов вы можете выбрать несколько фото. По адресу \\fs-mo\admins\Photo_warehouse\photos\
            создастся папка с ID актива и там будут храниться все фото.</p>
        <h3>Добавить фото или файлы</h3>
        <p>Вы можете выбрать актив и загрузить в его папку дополнительные фото или файлы</p>
        <h3>Перемещение</h3>
        <h6>*данную картинку можно сохранить себе и посмотреть в полноразмерном формате</h6>
        <p>При перемещении активов - каждое новое место записывается отдельно в БД с уникальным трек номером.</p>
        <p>Каждое перемещение со стороны IT Отдела это по сути запрос на перемещение на склад. Это перемещение добавляется
            в нашу базу, но в 1с не происходит никаких изменений. 
            А что тогда происходит?
            1 - отправляются уведомительные письма тем получаетелем, которые добавлены для этого действия 
            (их может посмотреть любой админ в своей панели) + сотруднику на которого 
            записана техника (если его почта указана в окне заявки на перемещение). Сотрудник в свою очередь будет иметь возможность 
            нажать в письме на кнопку - "уведомлен", тем самым подтверждая данное действие. 
            2 - данный запрос на перемещение добавляется в нашу базу и будет виден салатовым цветом в карточке актива в разделе - перемещения.
            3 - там же есть кнопка (обновить из 1с) - она позволяет отследить - произведено ли перемещение в 1с после запроса. 
            если произведено - новое перемещение покажется зеленым цветом.
        </p>
        <h3>Удаление</h3>
        <p>Кнопка - "удаление". Удалить можно сразу несколько активов. При удалении стирается вся информация о технике из БД
        так же удаляется папка с сервера. Данные записываются в логи</p>
        <h3>Списание</h3>
        <p>Кнопка - "Отправить на списание". Отправить на списание можно сразу несколько активов.</p>
            <p>При отправке на списание, активу присваивается статус "списание" 
                и создается новое перемещение - "отправлен на списание".</p>
           <p>Активы отправленные на списание можно увидеть в таблице списания. 
            Перейти туда можно по кнопке "Список на утилизацию".</p>
            <p>Заметим, что при отправке на списание активов, автоматически создастся уведомление в почте (получателей так же можно посмотреть в админке)</p>
        <p>В данной таблице вы можете распечатать список активов. И отправить (при наличии удостоверяющих документов (акта на списание
        и фотографий списания)) технику на утилизацию. Это делается по кнопке - "Списать активы". После ее нажатия, подгрузки документов
        и согласия на списания, произойдет следующее:</p>
        <p>В папке \\fs-mo\ADMINS\Photo_warehouse\archive_after_utilization создастся новая папка именем которой будет
            дата и количество списанных активов. Она будет создержать внутри:</p>

        <ul>
          <li>акт списания</li>
          <li>папку material_old_photos - в которой будут размещены подпапки с фотографиями и документами списанной техники (сделанные при заведения актива)</li>
          <li>папку trashing_photos - куда загрузятся фотографии самого списания</li>
        </ul>
        <img  width="800" height="500" src="../static/instructions_files/trash.gif" alt="Списание">
        <h6>*данную картинку можно сохранить себе и посмотреть в полноразмерном формате</h6>
        <p>История перемещений и ремонтов каждого списанного актива будет перемещена в таблицу Archive (списки утилизаций можно посмотреть на странице архива.
            Туда ведет кнопка "перейти в архив". Она располагается на странице списания техники</p>

        <h3>Ремонт</h3>
        <p>Любой актив, не находящийся на списании можно взять в ремонт</p>
        <p>При данном действии будет отправлено уведомление сотруднику, который указан в карточке ремонта</p>
        <p>Если взять актив в ремонт любым методом (быстрый или стандартный) то создастся папка в папке актива с именем "Repairs"</p>
        <h3>Актив находящийся в статусе "выдан" или "хранение" можно взять в ремонт.</h3>
        <p>Каждому новому ремонту присваивается уникальный идентификатор типа "imL7W6GMnfwoB1vClyuc", таким образом создается карточка 1 ремонта. К ней можно сколько угодно добавлять данные по кнопке "добавить инфо к ремонту".</p>
        <p>Все активные ремонты можно посмотреть по кнопке - "Список ремонта".</p>
        <p>По кнопке "Быстрый ремонт" можно взять актив в ремонт и сразу же вывести его оттуда, вписав проблему и решение. Это сделано для:</p>
        <ul>
            <li>ведения статистики</li>
            <li>отслеживания изменений в комплектации</li>
            <li>при быстром ремонте запись в таблицу перемещений не делается</li>
        </ul>

        <div class="image-container">
        <p><strong>Быстрый ремонт</strong></p>
        <img src="../static/instructions_files/fast_rep.gif" alt="Списание">
    </div>

    <div class="image-container">
        <p><strong>Взять в ремонт</strong></p>
        <img src="../static/instructions_files/standart_rep.gif" alt="Списание">
    </div>

    <div class="image-container">
        <p><strong>Добавить информацию к ремонту</strong></p>
        <img src="../static/instructions_files/add_to_rep.gif" alt="Списание">
    </div>

    <div class="image-container">
        <p><strong>Выдать из ремонта</strong></p>
        <img src="../static/instructions_files/from_rep.gif" alt="Списание">
    </div>

        {% if data.role == True %}

        ______________________________________________________________

        <h4>Схема работы приложения тут - https://drive.google.com/drive/folders/1FbpE92MyDzIcI6w6B8nmeScB0JO1vkLL?usp=drive_link (актуализирована в марте 2023)</h4>

            <h4>Создание пользователей</h4>
            <p>Новых пользователей может создавать только администратор через веб-консоль (Swagger или приложение).</p>
            <p>Если стал админом, нужно перелогиниться для вступления прав в силу. Потому что ты авторизован под одним JWT токеном, а для администратора он формируется другой.</p>
            <p>Немного про панель администратора.</p>
            <p>Из нее можно попасть в Swagger (это встроенный в fastapi фронтенд для работы с методами API (на него тоже сделана авториазция
            так что даже если обычный пользователь туда зайдет - права его сохранятся (когда нибудь я закрою доступ туда пользователям без
            админских прав</p>

        <h4>Логирование</h4>

            <p>Какие действия логируются:</p>
            <ul>
              <li>Вход в приложение</li>
              <li>Создание пользователя</li>
              <li>Удаление пользователя</li>
              <li>Создание актива</li>
              <li>Удаление актива</li>
              <li>Изменение описания актива</li>
              <li>Перемещение актива</li>
              <li>Добавление к списанию и архивация активов</li>
              <li>Ремонт активов (в разработке)</li>
            </ul>

            <p>Все действия пишутся в отдельную таблицу базы данных - Logs, и выводятся на веб по 100 пунктов с пагинацией.</p>
            </div>
        {% endif %}
    </div>
    </div>
</body>
</html>