<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
</head>

<body>
    <div class="title_1">Main office IT warehouse tracker (INSTRUCTIONS)</div>
    <div class="clear"></div>
    <button id="go_to_app" onclick='window.location.href = "/app?t={{ data["token"] }}"'>Обратно в приложение</button>
    <div class="instruction_1">
<p>Программа разработана для учета активов IT отдела.</p>
<p>Она позволяет:</p>
<ul>
  <li>Вести учет активов на складах</li>
  <li>Следить за перемещениями активов</li>
</ul>

<h2>WEB TERMINAL (<code>http://{адрес_сервера}/app:9000</code>)</h2>
        <h3>Создание актива (новой карточки для техники)</h3>
        <img  width="700" height="400" src="../static/instructions_files/create material.gif" alt="Описание картинки">
        <p>При создании активов вы можете выбрать несколько фото. По адресу \\fs-mo\admins\Photo_warehouse\photos\
            создастся папка с ID актива и там будут храниться все фото.</p>
        <h3>Перемещение активов</h3>
        <img  width="700" height="400" src="../static/instructions_files/move material.gif" alt="Описание картинки">
        <p>При перемещении активов - каждое новое место записыватся отдельно в БД с уникальным трек номером. Так что
        ничего не потеряется. Так же есть кнопка - "Посмотреть перемещения актива" - где вы можете найти все места
        и ответственных, на ком числилась техника. Переместить можно сразу несколько активов</p>
        <h3>Удаление активов</h3>
        <p>Кнопка - "удаление". Удалить можно сразу несколько активов. При удалении стирается вся информация о технике</p>

<h3>АВТОРИЗАЦИЯ И ДОСТУПЫ</h3>

<p>Управление активами реализовано на основе разделения пользователей на админов и юзеров.</p>
<p>Токен для работы в программе действует 1 час.</p>
<p>Программа постоянно проверяет валидность JWT токена (он генерируется из вашего имени пользователя
    и пароля). Как только токен истекает - пользователя выкидывает обратно на страницу авторизации</p>

<p>Админы имеют все права для работы с активами и пользователями:</p>
<ul>
  <li>Создавать и удалять пользователей</li>
  <li>Создавать и удалять активы</li>
</ul>

<p>Пользователи могут:</p>
<ul>
  <li>Менять описание любого актива</li>
  <li>Удалять свои активы</li>
</ul>

<p>Чтобы стать админом, нужно:</p>
<ol>
  <li>Попросить админа выдать админский доступ</li>
  <li>Авторизоваться под собой</li>
  <li>Воспользоваться эндпоинтом - <code>become_admin</code> (пароль 4352525)</li>
</ol>

<h4>Создание пользователей</h4>

<p>Нов

ых пользователей может создавать только администратор через веб-консоль (Swagger или приложение).</p>
<p>Если стал админом, нужно перелогиниться для вступления прав в силу. Потому что ты авторизован под одним JWT токеном, а для администратора он формируется другой.</p>

<h4>Логирование</h4>

<p>Какие действия логируются:</p>
<ul>
  <li>Вход в приложение</li>
  <li>Создание пользователя</li>
  <li>Удаление пользователя</li>
  <li>Создание актива</li>
  <li>Удаление актива</li>
  <li>Изменение описания актива</li>
  <li>Перемещение актива</li>
</ul>

<p>Все действия пишутся в отдельную таблицу базы данных - Logs, и выводятся на веб по 100 пунктов с пагинацией.</p>
</div>

</body>

</html>