<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
</head>

<body>
    <div class="title_1">Main office IT warehouse tracker (INSTRUCTIONS)</div>
    <div class="clear"></div>
    <button id="go_to_app" onclick='window.location.href = "/app?t={{ data["token"] }}"'>Обратно в приложение</button>
    <div class="instruction_1">
        <h3>Работа с активами</h3>
        <ul>
          <li>Создание</li>
          <li>Изменение описания</li>
          <li>Перемещение</li>
        </ul>
        <h3>Работа с пользователями</h3>
        <h3>Работа с логами</h3>
    </div>

</body>

</html>