<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="/static/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
</head>
<body>

<div class="body_body">
<div class="title_1">Main office IT warehouse tracker (Asset card)</div>
<!--    <div class="tooltip" title="Это подсказка">Наведите курсор для просмотра подсказки</div>-->

    <div class="button_exit">
        <button id="go_to_app" onclick='window.location.href = "/app?t="+"{{ data.token }}"'
                class="button_go_to_app_in_one_card">На главную страницу</button>
        <button id="go_to_auth" class="other_buttons"
            onclick="window.location.href = '/app/auth'">Выйти</button>
    </div>
    <div class="clear"></div>

        <div class="photo_one_card">
            <img class="real_photo" src="/it_warehouse_docs/photos/{{ data.one_material.id }}/{{ data.photo }}">
        </div>

        <div class="card_of_material_main_2">
            <div class="title_one_card">ID актива:  {{ data.one_material.id }}</div>
            <div class="title_one_card">Номер:  {{ data.one_material.title }}</div>
            <div class="title_one_card status_000">Статус:  {{ data.current_status }}</div>
        </div>


    <div class="card_of_material_main">
        <div class="card_of_material_main_1">
            <p class="desc_09">Категория:  {{ data.one_material.category }}</p>
            <p class="desc_09">Описание:  {{ data.one_material.description }}</p>
            <p class="desc_09">Где сейчас: {{ data.current_place }}</p>
            <p class="desc_09">Ответственный сейчас: {{ data.current_user }}</p>
        </div>
    <div class="card_of_material_main_1">
            <p class="desc_09">Кто завел:  {{ data.one_material.user_id }}</p>
            <p class="desc_09">Дата ввода в эксплуатацию:  {{ data.date_time_f }}</p>
            <p class="desc_09">Фото и документация:  \\fs-mo\ADMINS\Photo_warehouse\photos\{{ data.one_material.id }}</p>
        </div>
        <div class="clear"></div>
    </div>

     <div class="clear"></div>

    <div class="card_of_material">

          <h3>ПЕРЕМЕЩЕНИЯ</h3>
            <h5>*(сначала новые):</h5>

        {% for item in data.geo_material %}
            <div class="geo_material_one">
<!--                <div class="date_one_card">Дата: {{ item.date_time }}</div>-->
                <details>
                    <summary>Перемещение от {{ item.date_time }}</summary>
                        <div class="desc_one_card">
                            <div>Место: {{ item.place }},</div>
                            <div>Ответственный: {{ item.client_mail }},</div>
                            <div>Статус: {{ item.status }},</div>
                            <div>Иницатор: {{ item.initiator }},</div>
                            </div>
                        </div>
                </details>
             <div class="clear"></div>
        {% endfor %}
    </div>

    <div class="repair_stile">

          <h3>РЕМОНТЫ</h3>
        <h5>*(сначала новые):</h5>

         {% for item in data.repairs %}
            <div class="geo_material_one">
                <details>
                    <summary>Ремонт от {{ item[0].date_time }}</summary>
                    {% for item in item %}
                        <div class="geo_material_one_dial">
                            <div class="date_one_card">Дата: {{ item.date_time }},</div>
                            <div class="desc_one_card">
                            <div>Ответственный: {{ item.responsible_it_dept_user }},</div>
                            <div>Кто сдал: {{ item.user_whose_technique }},</div>
                            <div>Проблема / решение: {{ item.problem_description }},</div>
                            <div>Дата перемещения: {{ item.date_time }}</div>
                            </div>
                            <div class="clear"></div>
                    {% endfor %}
<!--                        <div class="clear">-&#45;&#45;&#45;&#45;</div>-->
                </details>
            </div>
        {% endfor %}

    </div>
    <div class="clear"></div>
    </div>


</body>
</html>