<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="/static/one_material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
</head>


<body>
    <div class="body_body">

        <!-- шапка -->

        <div class="top-part">
            <div class="title_1">IT warehouse tracker (Asset card: {{ data.one_material.id }})</div>
            <div class="button_exit">
                <a href="/app?t={{ data.token }}" class="menu_arc">Главная</a>
                {% if data.role == True %}
                <a href="/app/admins_page?t={{ data.token }}" class="menu_arc">Админка</a>
                {% endif %}
                <a href="/accessories?t={{ data.token }}" class="menu_arc">Комплектующие</a>
                <a href="/app/repairs_page?t={{ data.token }}" class="menu_arc">Ремонт</a>
                <a href="/app/trash_page?t={{ data.token }}" class="menu_arc">Списание</a>
                <a href="/geolocation/archive_trash_page?t={{ data.token }}" class="menu_arc">Архив</a>
                <a href="/app/instructions?t={{ data.token }}" class="menu_arc">FAQ</a>
                <a href="/app/auth" class="menu_arc other_buttons">Выйти</a>
            </div>
            <div class="clear"></div>

            <!-- ниже шапки -->

            <!-- разделенная на 2 части страница -->

            <div class="body_separate scrollable_table">

                <!-- левая часть меню -->
                <div class="body_left top-panel">
                    <div class="photo_one_card">
                        <img class="real_photo" src="/it_warehouse_docs/photos/{{ data.one_material.id }}/{{ data.photo }}">
                    </div>
                    <div class="menu_left">
                        <p class="desc_09">Заявленный статус: {{ data.current_status }}</p>
                        <div class="menu_1">
                            {% if data.current_status != "списание"%}
                            <div class="action-buttons_1_card">
                                <button id="delete">Удалить</button>
                                <button id="relocate">Переместить</button>
                                <button id="add_photo">Добавить файлы</button>
                                <button id="fast_repair" class="yell_button">Быстрый ремонт</button>
                                <!--            <button id="send_to_repair" class="yell_button">Взять в ремонт</button>-->
                                <!--        <button id="add_repair_info" class="yell_button">Добавить инфо к ремонту</button>-->
                                <!--        <button id="end_repair" class="yell_button">Закончить ремонт</button>-->
                                {% if data.current_status != "ремонт"%}
                                <button id="move_to_trash" class="red_button">Списать</button>
                                {%endif%}
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>

                <!-- правая часть -->

                <div class="card_of_material_main_1c">
                    <div class="card_of_material_main_1">
                        <div class="half_w">
                            <div class="geo_material_one">
                                <div class="from_1c">
                                    <p class="desc_09">Описание из 1с: {{ data.raw_1c.full_name }}</p>
                                    <p class="desc_09">Организация из 1с: {{ data.raw_1c.organization }}</p>
                                    <p class="desc_09">Цена из 1с: {{ data.raw_1c.cost }}</p>
                                </div>
<!--                                <p class="desc_09">Отдел из 1с: {{ data.raw_1c.cur_dept }}</p>-->
<!--                                <p class="desc_09">Ответственный из 1с: {{ data.raw_1c.cur_person }}</p>-->
                                <p class="desc_09">Дополнение по характеристикам от сотрудника IT при вводе в систему IT WH: {{ data.one_material.description }}</p>
                                <p class="desc_09">Номер IT: {{ data.one_material.title }}</p>
                                <p class="desc_09">Категория IT: {{ data.one_material.category }}</p>
                                <p class="desc_09">Заявленный ответсвенный сейчас: {{ data.current_user }}</p>
                                <p class="param_photo">Фото и документация:  \\it-wh\it_warehouse_docs\photos\{{ data.one_material.id }}
                                    -----  Файлов в папке актива: {{ data.len_of_files }}</p>
                                <p class="sign_adm">Сотрудник {{ data.one_material.user_id }} проверил и подтвердил спецификацию оборудования
                                    при вводе {{ data.date_time_f }}, установленное расположение: {{ data.current_place }} &#128077;</p>
                            </div>

                    
                            
                        </div>

                    

                        <div>
                            <button id="toggleList">Список перемещений</button>
                            <!-- <div class="card_of_material"> -->
                                
                                <div id="geoMaterialList" style="display: none;">
<!--                                <h3>ПЕРЕМЕЩЕНИЯ *(сначала новые):</h3>-->
                                {% for item in data.geo_material %}
                                <div class="geo_material_one">
                                <details class="det_1" {% if item.geo_type == 1 %}style="background-color: #50c36f8f;"{% endif %}>
                                    <summary>
                                        {{ item.date_time }} на {{ item.client_mail }}
                                    </summary>
                                    <div class="desc_one_card">
                                        <div>Место: {{ item.place }},</div>
                                        <div>Статус: {{ item.status }},</div>
                                        <div>Инициатор: {{ item.initiator }},</div>
                                    </div>
                                </details>
                                </div>
                                {% endfor %}
                                </div>

                                <script>
                                    document.getElementById("toggleList").addEventListener("click", function() {
                                    var geoMaterialList = document.getElementById("geoMaterialList");
                                    if (geoMaterialList.style.display === "none") {
                                        geoMaterialList.style.display = "block";
                                    } else {
                                        geoMaterialList.style.display = "none";
                                    }
                                    });
                                </script>

                            <!-- </div> -->


                            <button id="toggleRepairList">Список ремонтов</button>
                            <div id="repairList" style="display: none" class="repair_stile">
                                <h3>РЕМОНТЫ</h3>
                                <h5>*(сначала новые):</h5>
                                {% for item in data.repairs %}
                                    <div class="geo_material_one">
                                        <details>
                                            <summary>поступление {{ item[0].date_time }}, статус:
                                                {% for item in item %}
                                                    {% if loop.last %}
                                                        {% set last_repair_status = item.repair_status %}
                                                        {% if last_repair_status == True %}
                                                            в ремонте
                                                        {% endif %}
                                                        {% if last_repair_status == False %}
                                                            ремонт закончен {{item.date_time}}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </summary>
                                            {% for item in item %}
                                                <div class="geo_material_one_dial">
                                                    <div class="rep_status">
                                                        {% if item.repair_status == True %}
                                                            <div>В РЕМОНТЕ</div>
                                                        {% endif %}
                                                        {% if item.repair_status == False %}
                                                            <div>ВЫВЕДЕН ИЗ РЕМОНТА</div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="date_one_card">Дата: {{ item.date_time }}</div>
                                                    <div class="desc_one_card">
                                                        <div>Ответственный: {{ item.responsible_it_dept_user }},</div>
                                                        <div>Кто сдал: {{ item.user_whose_technique }},</div>
                                                        <div>Проблема / решение: {{ item.problem_description }},</div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            {% endfor %}
                                        </details>
                                    </div>
                                {% endfor %}
                            </div>

                            <script>
                                document.getElementById("toggleRepairList").addEventListener("click", function() {
                                    var repairList = document.getElementById("repairList");
                                    if (repairList.style.display === "none") {
                                        repairList.style.display = "block";
                                    } else {
                                        repairList.style.display = "none";
                                    }
                                });
                            </script>

        <!-- блок с комментариями -->
        <div class="comment-block">
            <div class="comments_title">Комментарии</div>

            <div class="comments_body">
            <textarea name="" id="comment-text" cols="30" rows="3"></textarea>
            <button id="send_comment">Отправить</button>
                </div>
                    <div class="comments">
                        {% for comment in data.comments%}
                            <div class="comment">
                                <div class="one_comment">- {{comment["text"]}}</div>
                            </div>
                        {% endfor %}
                </div>
        </div>

                        </div>
                        <!-- закончился блок с перемещениями и ремонтами -->
                        
                        

                    </div>
                </div>
            </div>

            
            <!-- попапы -->

            <div style="display: none;" id="new-geo-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="/static/close.svg" alt="close">
                    </div>
                    <h1>Обновить местоположение актива</h1>
                    <input type="text" placeholder="Новое местоположение">
                    <input type="text" placeholder="Почта нового ответсвенного">
                    <div class="select-wrapper">
                        <input class="select-result" value="хранение" type="text"
                            style="border-width: 0;appearance: none;" readonly placeholder="Статус">
                        <div class="select">
                            <div class="option">
                                <span>хранение</span>
                            </div>
                            <div class="option">
                                <span>выдан</span>
                            </div>
                        </div>
                    </div>
                    <button style="bottom: 10px; right: 10px;" id="submit-geo">Переместить</button>
                </div>
            </div>
            <div style="display: none;" id="add-to-repair-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="/static/close.svg" alt="close">
                    </div>
                    <h1>Взять актив в ремонт</h1>
                    <textarea class="description_problem" placeholder="Опишите проблему" name="" cols="30"
                        rows="5"></textarea>
                    <input type="text" placeholder="Заказчик ремонта">
                    <button style="bottom: 10px; right: 10px;" id="submit-repair">Разберемся &#129310;</button>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>
            <div style="display: none;" id="repair-details-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="/static/close.svg" alt="close">
                    </div>
                    <h1>Добавить информацию к ремонту</h1>
                    <textarea class="description_problem" placeholder="Опишите, что именно добавляется" name=""
                        cols="30" rows="5"></textarea>
                    <button style="bottom: 10px; right: 10px;" id="submit-repair-details">Добавить</button>
                    <h5>* если изменена конфигурация актива - обязательно внесите эти данные в поле его характеристик
                    </h5>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>
            <div style="display: none;" id="repair-end-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="/static/close.svg" alt="close">
                    </div>
                    <h1>Завершить ремонт</h1>
                    <textarea class="description_problem" placeholder="Опишите решение проблемы" name="" cols="30"
                        rows="5"></textarea>
                    <input type="text" placeholder="Кому отдана техника">
                    <input type="text" placeholder="Местоположение">
                    <div class="select-wrapper">
                        <input class="select-result" value="выдан" type="text" style="border-width: 0;appearance: none;"
                            readonly placeholder="Статус">
                        <div class="select">
                            <div class="option">
                                <span>хранение</span>
                            </div>
                            <div class="option">
                                <span>выдан</span>
                            </div>
                            <div class="option">
                                <span>списание</span>
                            </div>
                        </div>
                    </div>
                    <button style="bottom: 10px; right: 10px;" id="submit-repair-end">Завершить</button>
                    <h5>* если изменена конфигурация актива - обязательно внесите эти данные в поле его характеристик
                    </h5>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>
            <div style="display: none;" id="add-photo-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="/static/close.svg" alt="close">
                    </div>
                    <h1>Добавление фото</h1>
                    <form>
                        <label class="input-file">
                            <input type="file" name="file" accept=".png, .jpg, .jpeg" id="add-photo-btn"
                                multiple="multiple">
                            <span>Выбрать файл</span>
                        </label>
                    </form>

                    <div class="upload-btns">
                        <button id="submit-photo">Добавить файл (файлы)</button>
                    </div>
                    <h5>* можно выбрать несколько фото, для очистки списка фото для загрузки кликнуть ПКМ по кнопке</h5>
                </div>
            </div>
            <div style="display: none;" id="fast-repair-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="/static/close.svg" alt="close">
                    </div>
                    <h1>Быстрый ремонт техники</h1>
                    <textarea class="description_problem" placeholder="Опишите проблему и решение" name="" cols="30"
                        rows="5"></textarea>
                    <input type="text" placeholder="Заказчик ремонта">
                    <div class="file-wrapper">
                        <label class="file-label" for="short-repair-file">Добавить файл (опционально)</label>
                        <input type="file" hidden name="" id="short-repair-file">
                    </div>
                    <button style="bottom: 10px; right: 10px;" id="submit-short-repair">Solved &#129309;</button>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>

            <script src="/static/API.js"></script>
            <script src="/static/repair.js"></script>
            <script>
                $(".select-result").on("click", function () {
                    $(this).parent().find(".select").fadeToggle(300);
                });
                $(".select-wrapper .option").on("click", function () {
                    $(this).closest(".select-wrapper").find(".select-result").val($(this).find("span").html());
                    $(this).closest(".select-wrapper").find(".select-result").trigger("change");
                    $(this).parent().fadeOut(300);
                });
            </script>

        </div>

</body>

</html>