<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="/static/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <script src="/static/trash_page.js"></script>
    <link rel="stylesheet" href="/static/loader.css">
    <!-- https://codepen.io/nobuakihonma/pen/dYbqLQ -->
</head>

<body>
<div class="body_body">
    <div class="top-part">
            <div class="title_1">IT warehouse tracker (Search in 1c)</div>
            <div class="button_exit">
                <a href="/app?t={{ data.token }}" class="menu_arc">Главная</a>
                <a href="/app/only_1c?t={{ data.token }}" class="menu_arc">Поиск по 1с</a>
                {% if data.role == True %}
                <a href="/app/admins_page?t={{ data.token }}" class="menu_arc">Админка</a>
                {% endif %}
                <a href="/accessories?t={{ data.token }}" class="menu_arc">Комплектующие</a>
                <a href="/app/repairs_page?t={{ data.token }}" class="menu_arc">Ремонт</a>
                <a href="/app/trash_page?t={{ data.token }}" class="menu_arc">Списание</a>
                <a href="/geolocation/archive_trash_page?t={{ data.token }}" class="menu_arc">Архив</a>
                <a href="/app/instructions?t={{ data.token }}" class="menu_arc">FAQ</a>
                <a href="/app/auth" class="menu_arc other_buttons">Выйти</a>
            </div>
            <div class="clear"></div>
        </div>



            <div class="counts">
                <p class="p_for_count"><b>Сейчас числится на: </b></p>
                <p class="p_for_count"><b>Сейчас находится: </b></p>
                <p class="p_for_count"><b>Всего пермещений: </b></p>
            </div>
        <button class="word_button" id="form_file">Скачать информацию по активу (.docx)</button>
        <div class="clear"></div>


    <div class="only_search_1c_class">
        <input class="search_1c_class_1" type="text" name="" id="1c-search">
        <input class="search_1c_class_2" id="search_1c_btn" type="button" value="Найти в 1С">
    </div>

    <p></p>
    <div class="1c-data"></div>


    <div style="display: none;" id="trash-popup" class="popup-wrapper">
        <div class="popup">
            <div class="close-btn">
                <img src="/static/close.svg" alt="close">
            </div>
            <h1>Списать активы в архив</h1>
            <h3>Подписанная накладная:</h3>
            <div class="file-wrapper">
                <label class="file-label" for="upload-invoice">Выбрать файл</label>
                <input type="file" hidden name="" id="upload-invoice">
            </div>
            <h3>Фотографии списания:</h3>
            <div class="file-wrapper">
                <label class="file-label" for="upload-trashing-photos">Выбрать файлы</label>
                <input type="file" multiple hidden name="" id="upload-trashing-photos">
            </div>
            <h5>Все данные об активах будут перемещены в архив. Списанные активы
             вы сможете найти в таблице Архива</h5>
            <h5>Уведомление о данном списании будет отправлено следующим получателям: {{ data.notifications }}</h5>
            <button id="send-to-trash-finally">Списать</button> <div id="loader" class="loader-1 center"><span></span></div>

        </div>
    </div>
    </div>
</body>

</html>