<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js" integrity="sha512-Qlv6VSKh1gDKGoJbnyA5RMXYcvnpIqhO++MhIM2fStMcGT9i2T//tSwYFlcyoRRDcDZ+TYHpH8azBBCyhpSeqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/static/loader.css">
    <!-- https://codepen.io/nobuakihonma/pen/dYbqLQ -->
</head>

<body>
    <div class="body_for_1c">
        <div class="top-part">
            <div class="title_1">IT warehouse tracker (Search in 1c)</div>
            <div class="button_exit">
                <a href="/app?t={{ data.token }}" class="menu_arc">Главная</a>
                <a href="/app/only_1c?t={{ data.token }}" class="menu_arc">Поиск по 1с</a>
                {% if data.role == True %}
                <a href="/app/admins_page?t={{ data.token }}" class="menu_arc">Админка</a>
                {% endif %}
                <a href="/accessories?t={{ data.token }}" class="menu_arc">Комплектующие</a>
                <a href="/app/repairs_page?t={{ data.token }}" class="menu_arc">Ремонт</a>
                <a href="/app/trash_page?t={{ data.token }}" class="menu_arc">Списание</a>
                <a href="/geolocation/archive_trash_page?t={{ data.token }}" class="menu_arc">Архив</a>
                <a href="/app/instructions?t={{ data.token }}" class="menu_arc">FAQ</a>
                <a href="/app/auth" class="menu_arc other_buttons">Выйти</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="body_for_1c_2">
            <div class="tabs">
                <a href="#" class="tab-link active" onclick="openTab('tab1')">Поиск по ID актива</a>
                <a href="#" class="tab-link" onclick="openTab('tab2')">Поиск по ID сотрудника</a> 
                <a href="#" class="tab-link" onclick="openTab('tab3')">Поиск по активов на БСК</a>
            </div>
        
            <div id="tab1" class="tab-content active">
                <div class="only_search_1c_class">
                    <input class="search_1c_class_1" type="text" name="" id="1c-id">
                    <input class="search_1c_class_2" id="search_btn" type="button"
                        value="Найти по инвентарному номеру актива в 1С">
                    <input class="search_1c_class_2 to_excel" id="download1_btn" type="button"
                        value="to Excel">
                    <div style="display: none;" id="loader-product" class="loader-1 center"><span></span></div>
                </div>
                <div id="1c_data" class="1c-data class_for_1c_only"></div>
            </div>

            <div id="tab2" class="tab-content">
                <div class="only_search_1c_class">
                    <input class="search_1c_class_1" type="text" name="" id="responsible-id">
                    <input class="search_1c_class_2" id="responsible_btn" type="button"
                        value="Найти активы по табельному номеру человека в 1С">
                        <input class="search_1c_class_2 to_excel" id="download2_btn" type="button"
                        value="to Excel">
                    <div style="display: none;" id="loader-responsible" class="loader-1 center"><span></span></div>
                </div>
                <div id="responsible_data" class="1c-data class_for_1c_only"></div>
            </div>

            <div id="tab3" class="tab-content">
                Показать активы записанные на БСК за последние <input class="" type="text" id="bsk-days"> дней ---- 
                <button id="last_x_days_btn">Запросить</button>
                <div id="results_x_days" class="1c-data class_for_1c_only"></div>
            </div>


            

        </div>

    <script>
        function openTab(tabName) {
            var i, tabContent, tabLink;
    
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
    
            tabLink = document.getElementsByClassName("tab-link");
            for (i = 0; i < tabLink.length; i++) {
                tabLink[i].classList.remove("active");
            }
    
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.classList.add("active");
        }
    </script>

    <script>
        const params = new URLSearchParams(window.location.search)
        const access_token = params.get("t");
        var host = document.location.origin;

        async function by_responsible(responsible_id) {
            try {
                const response = await fetch(host + "/materials/by_responsible?id=" + responsible_id, {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + access_token
                    }
                });
                const json = await response.json();
                return json;
            } catch (error) {
                alert("Произошла ошибка");
                return;
            }
        }

        async function from_1c(mat_id) {
            try {
                const response = await fetch(host + "/materials/from_1c?id=" + mat_id, {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + access_token
                    }
                });
                const json = await response.json();
                return json;
            } catch (error) {
                alert("Произошла ошибка");
                return;
            }
        }
        $(document).ready(function () {

             $("#last_x_days_btn").on("click", async function() {

                let days = $("#bsk-days").val()

                // Вызов AJAX функции для получения данных последних X дней
                try {
                    const response = await fetch(host + "/materials/last_x_days?days=" + days, {
                        method: 'GET', // 
                        headers: {
                            'Authorization': 'Bearer ' + access_token
                        }
                    });
                    const json = await response.json();
                    // Обработка данных, полученных от сервера
                    console.log(json);

                    $("#results_x_days").empty();

                    if (Array.isArray(json)) {
                        if (json.length) { // Предполагаем, что json - это массив
                            json.forEach(item => {
                                // Доступ к вложенным данным через __values__
                                let values = item.__values__;
                                // Теперь можно формировать строку для отображения без "__values__"
                                let displayText = `<div class="one_transfer">
                                <p>Дата: ${values["Дата"]},</p>
                                <p>ИнвентарныйНомер: ${values["ИнвентарныйНомер"]},</p>
                                <p>Код: ${values["Код"]},</p>
                                <p>Наименование: ${values["Наименование"]}</p></div>`
                                ;
                                // Добавление сформированной строки в элемент #results
                                $("#results_x_days").append(`<div class="for_x_days">${displayText}</div>`);
                            });
                        } else {
                            $("#results_x_days").append(`<div>Полученные данные не содержат элементов</div>`);
                        }
                    }
                    else {
                            $("#results_x_days").append(`<div>Полученные данные не содержат элементов и это не массив</div>`);
                        }


                    // if (Object.values(json).length) {
                    //     Object.values(json.__values__).forEach(item => {
                    //         // Допустим, каждый item теперь объект, который мы хотим отобразить
                    //         $("#results_x_days").append(`<div>${JSON.stringify(item)}</div>`);
                    //     });
                    // } else {
                    //     $("#results_x_days").append(`<div>Полученные данные не содержат элементов</div>`);
                    // }

                } catch (error) {
                    alert(error);
                    return;
                }
            });

            $("#search_btn").on("click", async () => {
                try {
                    $("#loader-product").fadeIn(300);
                    let search_text = $("#1c-id").val();
                    let resp = await from_1c(search_text);

                    if (resp["success"]) {
                        $("#1c_data").html("");
                        let product = resp.EquipmentData[0];
                        let movement_count = product.MovementHistory.length;
                        $("#movement_count").text(movement_count);

                        let current_place = product.MovementHistory.CurrentDept;
                        $("#current_place").text(current_place);

                        $("#1c_data").append("<p>Полное имя: " + product.FullName + "</p>");
                        $("#1c_data").append("<p>Место где актив принимался на учет: " + product.CurrentDept + "</p>");
                        $("#1c_data").append("<p>Дата принятия на баланс: " + product.AcceptanceDate + "</p>");
                        $("#1c_data").append("<p>Ответственный (если есть): " + product.CurrentPerson + "</p>");
                        $("#1c_data").append("<p>Цена: " + product.InitialCost + "$" + "</p>");

                        $("#1c_data").append("<div class='move_class_1'>Перемещения:</div>");

                        for (var i = 0; i < movement_count; i++) { //перебрать все перемещения
                            let movement = "<div class='1c_movement'>";
                            movement += "Накладная: " + product.MovementHistory[i].Document + '</br>';
                            movement += "Место: " + product.MovementHistory[i].Dept + '</br>';
                            movement += "Ответсвтенный (если есть): " + product.MovementHistory[i].Person + '</br>';
                            movement += "Комментарий склада: " + product.MovementHistory[i].Comment + '</br>';
                            movement += "----------";
                            movement += "</div>"; //Закрывем тег для одного перемещения
                            $("#1c_data").append(movement);
                        }
                    }
                } finally {
                    $("#loader-product").fadeOut(300);
                }
            })
            $("#responsible_btn").on('click', async () => {
                $("#loader-responsible").fadeIn(300);
                try {
                    let id = $('#responsible-id').val().replace(/[^\d.-]/g, '');
                    $('#responsible-id').val(id);
                    if (id.length < 5) {
                        alert("введен некорректный ID");
                        return;
                    }
                    let json = await by_responsible(id);
                    let result_html = "";
                    let totalElements = json["EquipmentData"].length;

                    $("#total_elements").html("<p>Total Elements: " + totalElements + "</p>");

                    let counter = 1;
                    json["EquipmentData"].forEach(element => {
                        result_html += "<div class='equipment_1'>";
                        result_html += "<p>Number: " + counter + "</p>";
                        result_html += "<p>Name: " + element["Name"] + "</p>";
                        result_html += "<p>InventoryNumber: " + element["InventoryNumber"] + "</p>";
                        result_html += "<p>CurrentDept: " + element["CurrentDept"] + "</p>";
                        result_html += "<p>CurrentPerson: " + element["CurrentPerson"] + "</p>";
                        result_html += "<p>Manufactorer: " + element["Manufactorer"] + "</p>";
                        result_html += "<p>Comment: " + element["Comment"] + "</p>";
                        result_html += "<p>Organization: " + element["Organization"] + "</p>";
                        result_html += "<p>AcceptanceDate: " + element["AcceptanceDate"] + "</p>";
                        result_html += "</div>";
                        
                        // Увеличиваем счетчик
                        counter++;
                    });
                    $("#responsible_data").html(result_html);
                }
                finally {
                    $("#loader-responsible").fadeOut(300);
                }

            })
            $("#download1_btn").on('click', async () => {
                let mat_id = $("#1c-id").val();
                try {
                    fetch(host + "/materials/one_product_list?id=" + mat_id, {
                        method: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + access_token
                        }
                    }).then(res => res.blob()).then(blob => {
                        
                        saveAs(blob, "one_product.xlsx");
                    });
                } catch (error) {
                    alert("Произошла ошибка");
                    return;
                }
            })
            $("#download2_btn").on('click', async () => {
                let id = $('#responsible-id').val().replace(/[^\d.-]/g, '');
                    $('#responsible-id').val(id);
                    if (id.length < 5) {
                        alert("введен некорректный ID");
                        return;
                    }
                try {
                    fetch(host + "/materials/responsible_list?id=" + id, {
                        method: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + access_token
                        }
                    }).then(res => res.blob()).then(blob => {
                        
                        saveAs(blob, "products.xlsx");
                    });
                } catch (error) {
                    alert("Произошла ошибка");
                    return;
                }
            })
        })
    </script>
</body>

</html>