<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/loader.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="static/w.jpg" type="image/x-icon">
</head>

<body>
    <div class="body_body">
        <div class="top-part">
            <div class="title_1">IT warehouse tracker</div>
            <div class="button_exit">
                <a href="/app?t={{ data.token }}" class="menu_arc">Главная</a>
                {% if data.role == True %}
                <a href="/app/admins_page?t={{ data.token }}" class="menu_arc">Админка</a>
                {% endif %}
                <a href="/accessories?t={{ data.token }}" class="menu_arc">Комплектующие</a>
                <a href="/app/repairs_page?t={{ data.token }}" class="menu_arc">Ремонт</a>
                <a href="/app/trash_page?t={{ data.token }}" class="menu_arc">Списание</a>
                <a href="/geolocation/archive_trash_page?t={{ data.token }}" class="menu_arc">Архив</a>
                <a href="/app/instructions?t={{ data.token }}" class="menu_arc">FAQ</a>
                <a href="/app/auth" class="menu_arc other_buttons">Выйти</a>
            </div>
            <div class="clear"></div>
            <div class="top_pan_2">

                <div class="counts">
                    <p class="p_for_count"><b>Всего активов: {{ data.count_warehouse.all_count }}</b></p>
                    <p class="p_for_count">Ремонт: {{ data.count_warehouse.repair_count }}</p>
                    <p class="p_for_count">Списание: {{ data.count_warehouse.trash_count }}</p>
                    <p class="p_for_count">Выдано: {{ data.count_warehouse.get_out_count }}</p>
                    <p class="p_for_count">На хранении: {{ data.count_warehouse.warehouse_count }}</p>
                </div>

                <div class="search_1c_class">
                <input class="search_1c_class_1" type="text" name="" id="1c-search">
                    <input class="search_1c_class_2" id="search_1c_btn" type="button" value="Найти в 1С">
                    </div>
            </div>

            <div class="clear"></div>
        </div>


        <div class="body_separate scrollable_table">
            <div class="body_left top-panel">

                <div class="menu_left">
                    <div class="welcome">
                    <p class="hello">{{ data.username }} шеф &#128293;
                        {% if data.role == True %}
                        права в системе - Администратор</p>
                    {% endif %}
                    {% if data.role == False %}
                    права в системе - Пользователь</p>
                    {% endif %}
                </div>
                    <div class="menu_1">

                        <!-- <button id="new">Завести актив</button> -->
                        <button id="delete">Удалить</button>
                        <button id="add_photo">Добавить файлы</button>
                        <button id="relocate">Переместить</button>
                    </div>
                    <div class="menu_1">
                        <button id="fast_repair" class="yell_button">Быстрый ремонт</button>
                        <button id="send_to_repair" class="yell_button">Взять в ремонт</button>
                        <button id="add_repair_info" class="yell_button">Добавить инфо к ремонту</button>
                        <button id="end_repair" class="yell_button">Закончить ремонт</button>
                    </div>
                    <div class="menu_1">
                        <button id="move_to_trash" class="red_button">Отправить на списание</button>
                        <button class="button_to_file" id="generate_list">Экспорт в Excel</button>
                    </div>
                </div>
            </div>

            <div class="body_right">
                <div class="table-wrapper">
                    <div class="top-panel">
                        <div class="button-wrapper fixed_buttons">
                            <!--  фильтры -->
                            <div class="input-wrapper">
                                <div class="filters">Фильтры:</div>
                                <input class="filter" type="text" placeholder="ID" id="id-filter" style="width: 150px;">
                                <input class="filter" type="text" placeholder="Описание" id="description-filter">
                                <input class="filter" type="text" placeholder="Категория" id="category-filter">
                                <input class="filter" type="text" placeholder="Дата-Время" id="date-filter">
                                <div class="select-wrapper filter" style="display: inline-block;">
                                    <input id="status-filter" class="select-result" value="" type="text"
                                        style="border-width: 0;appearance: none;" readonly placeholder="Статус">
                                    <div class="select">
                                        <div class="option">
                                            <span></span>
                                            <a>---</a>
                                        </div>
                                        <div class="option">
                                            <span>хранение</span>
                                        </div>
                                        <div class="option">
                                            <span>выдан</span>
                                        </div>
                                        <div class="option">
                                            <span>ремонт</span>
                                        </div>
                                        <div class="option">
                                            <span>списание</span>
                                        </div>
                                    </div>
                                </div>
                                <input id="reset-filters" type="image" src="/static/remove.png" />
                            </div>
                        </div>

                        <div class="clear"></div>
                        <table class="fl-table" style="" id="table">
                            <thead class="fixed_thead" style="z-index: 0;">
                                <tr>
                                    <th><input type="checkbox" id="select-all"></th>
                                    <th>ID с наклейки (код товара 1c)</th>
                                    <th>Категория</th>
                                    <th>Номер</th>
                                    <th>Описание (характеристики)</th>
                                    <th>Дата ввода</th>
                                    <th>Расположение</th>
                                    <th>Cтатус</th>
                                    <th>Фото</th>
                                </tr>
                            </thead>
                            <!--            итерируем по тому переменной которую получаем с фронта. там объект json распаршенный-->
                            <tbody>
                                {% for item in data[0] %}
                                <tr {% if item["geolocation_status"]=="списание" %} class="inactive" {% endif %} {% if
                                    item["geolocation_status"]=="ремонт" %} class="remont" {% endif %}>
                                    <td><input type="checkbox"></td>
                                    <td><a class="link_to"  href="/app/{{ item.id }}?t={{ data.token }}">{{ item.id }}</a></td>
                                    <td>{{ item.category }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>
                                    <textarea cols="30" rows="5">{{ item.description }}</textarea>
                                    </td>
                                    <td>{{ item.date_time }}</td>
                                    <td>{{ item["geolocation_place"] }}</td>
                                    <td>{{ item["geolocation_status"] }}</td>
                                    <td><img class="real_photo_all" src="/it_warehouse_docs/photos/{{ item.id }}/{{item.pic}}"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--  попапы -->
            <div style="display: none;" id="add-photo-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Добавление файлов</h1>
                    <form>
                        <label class="input-file">
                            <input type="file" name="file" accept=".png, .jpg, .jpeg" id="add-photo-btn"
                                multiple="multiple">
                            <span>Выбрать файл</span>
                        </label>
                    </form>

                    <div class="upload-btns">
                        <button id="submit-photo">Добавить файл (файлы)</button>
                    </div>
                    <h5>* можно выбрать несколько фото, для очистки списка фото для загрузки кликнуть ПКМ по кнопке</h5>
                </div>
            </div>

<!-- старое добавление товара --> 

            <!-- <div style="display: none;" id="new-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Новый актив</h1>
                    <div class="new-wrapper">
                        <input type="text" placeholder="ID актива с наклейки">
                        <div class="select-wrapper">
                            <input id="#new-popup-select" class="select-result" value="Компьютер" type="text"
                                style="border-width: 0;appearance: none;" readonly placeholder="категория">
                            <div class="select">
                                <div class="option">
                                    <span>Компьютер</span>
                                </div>
                                <div class="option">
                                    <span>Ноутбук</span>
                                </div>
                                <div class="option">
                                    <span>Сервер</span>
                                </div>
                                <div class="option">
                                    <span>Маршрутизатор / свитч</span>
                                </div>
                                <div class="option">
                                    <span>Камера</span>
                                </div>
                                <div class="option"><span>Другое</span></div>
                            </div>
                        </div>
                        <input type="text" class="input_100" placeholder="номер техники (pc1000)">
                        <textarea name="" cols="20" rows="8" placeholder="базовые характеристики">
процессор:
оперативная память:
жесткий диск:
ssd:
блок питания:
видео карта:
                </textarea>
                        <input type="text" placeholder="местоположение актива">
                    </div>
                    <form>
                        <label class="input-file">
                            <input type="file" name="file" accept=".png, .jpg, .jpeg" id="files-to-upload"
                                multiple="multiple">
                            <span>Выбрать файл</span>
                        </label>
                    </form>
                    <h5>* прикрепите фото наклейки и фото техники целиком в форматах png, jpg или jpeg</h5>
                    <h5>* для очистки списка фото для загрузки кликнуть ПКМ по кнопке</h5>
                    <div class="upload-btns">
                        <button id="submit-new">Создать карточку актива</button>
                        <div style="display: none;" class="loader loader-1 center"><span></span></div>
                    </div>
                </div>
            </div> -->

            
            <div style="display: none;" id="delete-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Вы действительно хотите удалить актив?</h1>
                    <h3>удалится папка с его фото и все данные о перемещениях</h3>
                    <button style="bottom: 10px; right: 10px;" id="submit-delete">Удалить</button>

                </div>
            </div>
            <div style="display: none;" id="new-geo-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Обновить местоположение актива</h1>
                    <input type="text" placeholder="Новое местоположение">
                    <input type="text" placeholder="Почта нового ответсвенного">
                    <div class="select-wrapper">
                        <input class="select-result" value="хранение" type="text"
                            style="border-width: 0;appearance: none;" readonly placeholder="Статус">
                        <div class="select">
                            <div class="option">
                                <span>хранение</span>
                            </div>
                            <div class="option">
                                <span>выдан</span>
                            </div>
                        </div>
                    </div>
                    <button style="bottom: 10px; right: 10px;" id="submit-geo">Переместить</button>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>
            <div style="display: none;" id="history-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>История местоположений актива</h1>
                    <div id="history-block"></div>

                </div>
            </div>
            <div style="display: none;" id="add-to-repair-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Взять актив в ремонт</h1>
                    <textarea class="description_problem" placeholder="Опишите проблему" name="" cols="30"
                        rows="5"></textarea>
                    <input type="text" placeholder="Заказчик ремонта">
                    <button style="bottom: 10px; right: 10px;" id="submit-repair">Разберемся &#129310;</button>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>
            <div style="display: none;" id="repair-details-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Добавить информацию к ремонту</h1>
                    <textarea class="description_problem" placeholder="Опишите, что именно добавляется" name=""
                        cols="30" rows="5"></textarea>
                    <div class="file-wrapper">
                        <label class="file-label" for="repair-details-file">Добавить файл (опционально)</label>
                        <input type="file" hidden name="" id="repair-details-file">
                    </div>
                    <button style="bottom: 10px; right: 10px;" id="submit-repair-details">Добавить</button>
                    <h5>* если изменена конфигурация актива - обязательно внесите эти данные в поле его характеристик
                    </h5>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>
            <div style="display: none;" id="repair-end-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Завершить ремонт</h1>
                    <textarea class="description_problem" placeholder="Опишите решение проблемы" name="" cols="30"
                        rows="5"></textarea>
                    <input type="text" placeholder="Кому отдана техника">
                    <input type="text" placeholder="Местоположение">
                    <div class="select-wrapper">
                        <input class="select-result" value="выдан" type="text" style="border-width: 0;appearance: none;"
                            readonly placeholder="Статус">
                        <div class="select">
                            <div class="option">
                                <span>хранение</span>
                            </div>
                            <div class="option">
                                <span>выдан</span>
                            </div>
                            <div class="option">
                                <span>списание</span>
                            </div>
                        </div>
                    </div>
                    <button style="bottom: 10px; right: 10px;" id="submit-repair-end">Завершить</button>
                    <h5>* если изменена конфигурация актива - обязательно внесите эти данные в поле его характеристик
                    </h5>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>

            <div style="display: none;" id="fast-repair-popup" class="popup-wrapper">
                <div class="popup">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Быстрый ремонт техники</h1>
                    <textarea class="description_problem" placeholder="Опишите проблему и решение" name="" cols="30"
                        rows="5"></textarea>
                    <input type="text" placeholder="Заказчик ремонта">
                    <div class="file-wrapper">
                        <label class="file-label" for="short-repair-file">Добавить файл (опционально)</label>
                        <input type="file" hidden name="" id="short-repair-file">
                    </div>
                    <button style="bottom: 10px; right: 10px;" id="submit-short-repair">Solved &#129309;</button>
                    <!--            <button style="position: absolute; bottom: 10px; right: 10px;" id="submit-geo">Обновить</button>-->
                </div>
            </div>
            <div style="display: none;" id="data-1c-popup" class="popup-wrapper">
                <div class="popup" style="max-height: 80vh; overflow-y: scroll;">
                    <div class="close-btn">
                        <img src="static/close.svg" alt="close">
                    </div>
                    <h1>Информация из 1С</h1>
                    <div class="1c-data"></div>

                    <hr>

                    <details>
                        <summary class="wow">Добавить актив в систему IT WH ?</summary>
                            <div class="add_from_1c_info">
                            <div class="category-wrapper">
                                <p>Выберите категорию:</p>
                                <input id="popup-select-1c" class="select-result" value="Компьютер" type="text" style="border-width: 0; appearance: none;" readonly placeholder="категория">

                                <div class="select">
                                    <div class="option">
                                        <span>Компьютер</span>
                                    </div>
                                    <div class="option">
                                        <span>Ноутбук</span>
                                    </div>
                                    <div class="option">
                                        <span>Монитор</span>
                                    </div>
                                    <div class="option">
                                        <span>Принтер</span>
                                    </div>
                                    <div class="option">
                                        <span>Сервер</span>
                                    </div>
                                    <div class="option">
                                        <span>Маршрутизатор / свитч</span>
                                    </div>
                                    <div class="option">
                                        <span>Камера</span>
                                    </div>
                                    <div class="option"><span>Другое</span></div>
                                </div>
                            </div>
                            <input type="text" id="1c_title" class="input_100" placeholder="номер техники (pc1000)">

                            <p>В описание техники будет скопировано ее описание из 1с. Если что то не совпадает или нужно дополнить,
                                 напишите заметку в поле ниже. Эта информация будет добавлена к карточке актива в нашей базе.
                            </p>
                            
<!--                            <div class="sign_from_admin">-->
<!--                                <input type="checkbox" id="myCheckbox" name="myCheckbox">-->
<!--                                <label for="myCheckbox">Подтверждаю, что данные из 1с верны</label>-->
<!--                            </div>-->
                            

                            <textarea name="" cols="10" rows="4" placeholder="Это поле необязательно. Добавьте комментарии если описание из 1с неполное или неверное"></textarea>
                            <p>Добавьте фото (можно выбрать несколько):</p>
                                <input type="file" multiple name="1c_file" id="1c_file">
                                <p>Добавьте точное расположение:</p>
                                <input id="1c_geo" type="text" class="input_100" placeholder="**склад 1, полка 2.1">
                                <hr>
                            <input class="but_12" type="button" value="Подтверждаю характеристики. Добавить актив в IT WH" id="add_from_1c">
                        </div>
                    </details>


                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
            <script src="/static/API.js"></script>
            <script src="static/main.js"></script>
            <script src="static/repair.js"></script>

        </div>
</body>

</html>