<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="/static/main.js"></script>
    <script src="https://unpkg.com/docx@8.0.4/build/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
</head>

<body>
    <div class="title_1">Main office IT warehouse tracker (TRASH)</div>
    <div class="button_exit"><button id="go_to_auth" class="other_buttons"
            onclick="window.location.href = '/app/auth'">Выйти</button></div>
    <div class="clear"></div>

    <div class="count_for_trash">товаров на списание - {{ data.count_for_trash }}</div>
    <div class="table-wrapper">
        <div class="button-wrapper">
            <button id="go_to_app" onclick='window.location.href = "/app?t="+"{{ data.token }}"'>гоушки в
                приложение</button>
            <button id="send_to_trash">Списать активы</button>
            <button id="form_file">Выгрузить список в файл</button>
        </div>

        <!--  заголовок таблицы -->
        <table class="fl-table" id="table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>ID актив</th>
                    <th>Кто завел</th>
                    <th>Категория</th>
                    <th>Номер (тайтл)</th>
                    <th>Описание (характеристики)</th>
                    <th>Дата ввода</th>
                    <th>Ссылка на фото</th>
                </tr>
            </thead>
            <!--            итерируем по тому переменной которую получаем с фронта. там объект json распаршенный-->
            <tbody>
                {% for item in data[0] %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.user_id }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.title }}</td>
                    <td> <textarea cols="20" rows="3">{{ item.description }}</textarea></td>
                    <td>{{ item.date_time }}</td>
                    <td>\\fs-mo\admins\Photo_warehouse\photos\{{ item.id }}</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <script>
        $("#form_file").on("click", function () {
            generate();
        });
        let generate = function () {
            const table = new docx.Table({
                width: {
                    size: 100,
                    type: docx.WidthType.PERCENTAGE,
                },
                rows: [
                    new docx.TableRow({
                        children: [
                            new docx.TableCell({
                                children: [
                                    new docx.Paragraph({
                                        children: [
                                            new docx.TextRun({
                                                text: "ID",
                                                bold: true,
                                                size: "11"
                                            }),
                                        ],
                                    }),
                                ],
                            }),
                            new docx.TableCell({
                                children: [
                                    new docx.Paragraph({
                                        children: [
                                            new docx.TextRun({
                                                text: "Title",
                                                bold: true,
                                                size: "11"
                                            }),
                                        ],
                                    }),
                                ],
                            }),
                            new docx.TableCell({
                                children: [
                                    new docx.Paragraph({
                                        children: [
                                            new docx.TextRun({
                                                text: "Date",
                                                bold: true,
                                                size: "11"
                                            }),
                                        ],
                                    }),
                                ],
                            }),
                        ],
                    }),
                ]
            });
            $("tbody tr").each(function (index, elem) {
                let tableRow = new docx.TableRow({
                    children: [
                        new docx.TableCell({
                            children: [new docx.Paragraph($(elem).children("td").eq(1).text())],
                        }),
                        new docx.TableCell({
                            children: [new docx.Paragraph($(elem).children("td").eq(4).text())],
                        }),
                        new docx.TableCell({
                            children: [new docx.Paragraph($(elem).children("td").eq(6).text())],
                        }),
                    ],
                });
                table.addChildElement(tableRow);
            });
            const doc = new docx.Document({
                sections: [
                    {
                        children: [
                            new docx.Paragraph({
                                children: [
                                    new docx.TextRun({
                                        text: "НАКЛАДНАЯ НА СПИСАННЫЕ ТОВАРЫ",
                                        bold: true,
                                        size: "16"
                                    }),
                                ],
                            }),
                            new docx.Paragraph({ children: [] }),
                            new docx.Paragraph({
                                children: [
                                    table
                                ]
                            }),
                            new docx.Paragraph({ children: [] }),
                            new docx.Paragraph({
                                children: [
                                    new docx.TextRun({
                                        text: "Подпись ответственного  _______",
                                        bold: true,
                                        size: "16"
                                    }),
                                ],
                            }),
                        ]
                    }
                ]
            });
            saveDocumentToFile(doc, "Накладная.docx")
        }
        function saveDocumentToFile(doc, fileName) {
            // const packer = new docx.Packer();
            const mimeType =
                "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
            docx.Packer.toBlob(doc).then(blob => {
                const docblob = blob.slice(0, blob.size, mimeType);
                saveAs(docblob, fileName);
            });
        }
    </script>
</body>

</html>