<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script type="text/javascript" src="/static/jquery-3.6.4.min.js"></script>
    <!--  линк на стили -->
    <link rel="stylesheet" href="/static/style.css">
    <!--  добавляем фавконку -->
    <link rel="icon" href="/static/w.jpg" type="image/x-icon">
    <script src="/static/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <script src="/static/trash_page.js"></script>
    <link rel="stylesheet" href="/static/loader.css">
    <!-- https://codepen.io/nobuakihonma/pen/dYbqLQ -->
</head>

<body>
    <div class="title_1">Main office IT warehouse tracker (TRASH)</div>

    <div class="button_exit">
        <button class="button_go_to_app" id="go_to_app" onclick='window.location.href = "/app?t="+"{{ data.token }}"'>в
                приложение</button>
        <button id="go_to_auth" class="other_buttons"
            onclick="window.location.href = '/app/auth'">Выйти</button>
    </div>
    <div class="clear"></div>

    <div class="count_for_trash">товаров на списании - {{ data.count_for_trash }}</div>
    <div class="table-wrapper">
        <div class="button-wrapper">
            <button id="move_to_archive">Списать активы</button>
            <button id="form_file">Выгрузить список в файл</button>
            <button id="go_to_archive" onclick='window.location.href = "/geolocation/archive_trash_page?t="+"{{ data.token }}"'>перейти в архив</button>
        </div>

        <table class="fl-table" id="table">
            <!--  заголовок таблицы -->
            <thead>
                <tr>
                    <th>ID актив</th>
                    <th>Кто завел</th>
                    <th>Категория</th>
                    <th>Номер (тайтл)</th>
                    <th>Описание (характеристики)</th>
                    <th>Дата ввода</th>
                    <th>Ссылка на фото</th>
                </tr>
            </thead>
            <!--            итерируем по тому переменной которую получаем с фронта. там объект json распаршенный-->
            <tbody>
                {% for item in data[0] %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.user_id }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.title }}</td>
                    <td> <textarea cols="20" rows="3">{{ item.description }}</textarea></td>
                    <td>{{ item.date_time }}</td>
                    <td>\\fs-mo\admins\Photo_warehouse\photos\{{ item.id }}</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <div style="display: none;" id="trash-popup" class="popup-wrapper">
        <div class="popup">
            <div class="close-btn">
                <img src="/static/close.svg" alt="close">
            </div>
            <h1>Списать активы в архив</h1>
            <h3>Подписанная накладная:</h3>
            <div class="file-wrapper">
                <label class="file-label" for="upload-invoice">Выбрать файл</label>
                <input type="file" hidden name="" id="upload-invoice">
            </div>
            <h3>Фотографии списания:</h3>
            <div class="file-wrapper">
                <label class="file-label" for="upload-trashing-photos">Выбрать файлы</label>
                <input type="file" multiple hidden name="" id="upload-trashing-photos">
            </div>
            <button id="send-to-trash-finally">Списать</button> <div id="loader" class="loader-1 center"><span></span></div>
             <h5>Все данные об активах будут перемещены в архив. Списанные активы
             вы сможете найти в таблице Архива</h5>
        </div>
    </div>
</body>

</html>